@{
    ViewBag.Title = "About";
}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('https://puglia2010.files.wordpress.com/2016/07/img_0207-1.jpg')">
    <div id="mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>О нас</h1>
                    <hr class="small">
                    <span class="subheading">и о нашем сайте</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Здесь, в специальном разделе, мы хотим рассказать, кто это – «мы», и постараться лаконично выразить нашу концепцию «Человека в Горах» и «Гор в Человеке». А более развернуто о нас скажут наши отчеты, фотографии и другое творчество. Мир Гор открывает многое тем, кто стремится увидеть и услышать. И это позволяет поделиться его красотой, нашими открытиями и опытом, а также найти единомышленников. Мы не ставим перед собой целью освещать лишь события в киевском альпинистско-скалолазном сообществе и, конечно, наш Интернет-ресурс не ограничен лишь горной тематикой – мы надеемся отобразить широкий спектр интересов и сфер деятельности — нашей и наших друзей.</p>
            <p>Сайт команды пытался зародиться, начиная еще с 2002 года, но по разным причинам на свет он не появлялся. К идее воплощения в жизнь мы вернулись, идя по дороге из Заросляка, возвращаясь из тренировочного выезда на Говерлу 23 февраля 2008 года. Возможности, способности и желания пересеклись и, благодаря упорству и вдохновению Олега Сердюкова (Ctrl-D), 21 марта 2008 года сайт был открыт.</p>
            <p>У нас много планов относительно сайта. Самое главное — мы будем представлять Вашему вниманию только оригинальные статьи и те материалы, которые близки нам.</p>
</div>
    </div>
</div>
